<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>allowSyntaxColouring</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>:Z</string>
		<string>Z</string>
		<string>:Y</string>
		<string>Y</string>
		<string>:X</string>
		<string>X</string>
		<string>:W</string>
		<string>W</string>
		<string>:V</string>
		<string>V</string>
		<string>:U</string>
		<string>U</string>
		<string>:T</string>
		<string>T</string>
		<string>:S</string>
		<string>S</string>
		<string>:R</string>
		<string>R</string>
		<string>:Q</string>
		<string>Q</string>
		<string>:P</string>
		<string>P</string>
		<string>:O</string>
		<string>O</string>
		<string>:N</string>
		<string>N</string>
		<string>:M</string>
		<string>M</string>
		<string>:L</string>
		<string>L</string>
		<string>:K</string>
		<string>K</string>
		<string>:J</string>
		<string>J</string>
		<string>:I</string>
		<string>I</string>
		<string>:H</string>
		<string>H</string>
		<string>:G</string>
		<string>G</string>
		<string>:F</string>
		<string>F</string>
		<string>:E</string>
		<string>E</string>
		<string>:D</string>
		<string>D</string>
		<string>:C</string>
		<string>C</string>
		<string>:B</string>
		<string>B</string>
		<string>:A</string>
		<string>A</string>
		<string>Disp</string>
		<string>:Disp</string>
		<string>End</string>
		<string>:End</string>
		<string>and</string>
		<string>or</string>
		<string>Lbl</string>
		<string>:Lbl</string>
		<string>Goto</string>
		<string>:Goto</string>
		<string>Input</string>
		<string>:Input</string>
		<string>Menu</string>
		<string>:Menu</string>
		<string>If</string>
		<string>:If</string>
		<string>Then</string>
		<string>:Then</string>
		<string>Else</string>
		<string>getKey</string>
		<string>:getKey</string>
		<string>While</string>
		<string>:While</string>
		<string>Repeat</string>
		<string>:Repeat</string>
		<string>Output</string>
		<string>:Output</string>
		<string>For</string>
		<string>:For</string>
		<string>Pause</string>
		<string>:Pause</string>
		<string>DelVar</string>
		<string>:DelVar</string>
		<string>Stop</string>
		<string>:Stop</string>
		<string>Return</string>
		<string>:Return</string>
		<string>GraphStyle</string>
		<string>:GraphStyle</string>
		<string>ColorGraph</string>
		<string>:ColorGraph</string>
		<string>OpenLib</string>
		<string>:OpenLib</string>
		<string>ExecLib</string>
		<string>:ExecLib</string>
		<string>Prompt</string>
		<string>:Prompt</string>
		<string>DispGraph</string>
		<string>:DispGraph</string>
		<string>DispTable</string>
		<string>:DispTable</string>
		<string>GetCalc</string>
		<string>:GetCalc</string>
		<string>ClrHome</string>
		<string>:ClrHome</string>
		<string>ClrTable</string>
		<string>:ClrTable</string>
		<string>BLUE</string>
		<string>:BLUE</string>
		<string>RED</string>
		<string>:RED</string>
		<string>BLACK</string>
		<string>:BLACK</string>
		<string>MAGENTA</string>
		<string>:MAGENTA</string>
		<string>GREEN</string>
		<string>:GREEN</string>
		<string>ORANGE</string>
		<string>:ORANGE</string>
		<string>BROWN</string>
		<string>:BROWN</string>
		<string>NAVY</string>
		<string>:NAVY</string>
		<string>LTBLUE</string>
		<string>:LTBLUE</string>
		<string>YELLOW</string>
		<string>:YELLOW</string>
		<string>WHITE</string>
		<string>:WHITE</string>
		<string>LTGRAY</string>
		<string>:LTGRAY</string>
		<string>MEDGRAY</string>
		<string>:MEDGRAY</string>
		<string>GRAY</string>
		<string>:GRAY</string>
		<string>DARKGREY</string>
		<string>:DARKGREY</string>
	</array>
</dict>
</plist>
